<%- model_class = Supplement -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %> Stack</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:brand) %></th>
      <th><%= model_class.human_attribute_name(:supplement_sub_category_id) %></th>
      <th><%= model_class.human_attribute_name(:remaining_servings) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @supplements.each do |stack| %>
      <tr>
        <td><%= link_to stack.supplement.name, supplement_path(stack.supplement) %></td>
        <td><%= stack.supplement.brand %></td>
        <td><%= stack.supplement.supplement_sub_category.name %></td>
        <td><%= stack.remaining_servings %></td>
        <td><%=l stack.start_date %></td>
        <td>
        <!-- TODO -->
          <%= link_to 'Add',
                      edit_supplement_path(stack.supplement), :class => 'btn btn-primary btn-xs' %>
          <%= link_to 'Done',
                      supplement_path(stack.supplement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add to your stack', user_new_supplements_path, :class => 'btn btn-primary' %>
