<%- model_class = Journal -%>

<%= "Current #{@weight}" %><br />
<%= "Current #{@bodyfat}" %>


<div class="page-header">
  <h2><%= Date.today.strftime("%B") %> Entries</h2>
</div>


<%= month_calendar do |date| %>
  <%= date.day %> <br />
  <% if current_user.this_day_entry(date) %>
    <%= link_to "✅ Day", day_entry_path(current_user.this_day_entry(date)) %>
  <% else %>
    <%= link_to "Add day", new_day_entry_date_path(date) %>
  <% end %>
  <br />
  <% if current_user.this_night_entry(date) %>
    <%= link_to "✅ Night", night_entry_path(current_user.this_night_entry(date)) %>
  <% else %>
    <%= link_to "Add night", new_night_entry_date_path(date) %>
  <% end %>
<% end %>
