<%= form_for @night_entry do |f| %>
  <div class="form-group">
    <%= f.hidden_field :entry_date, value: @night_entry.entry_date %>
    <%= f.hidden_field :journal_id, value: current_user.get_journal.id %>
  </div>
  <div class="form-group">
    <%= f.label :weight, :class => 'control-label' %>
    <%= f.text_field :weight, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bodyfat, :class => 'control-label' %>
    <%= f.text_field :bodyfat, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bmi, :class => 'control-label' %>
    <%= f.text_field :bmi, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :calories_burned, :class => 'control-label' %>
    <%= f.number_field :calories_burned, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                night_entries_path, :class => 'btn' %>
  </div>
<% end %>
